

img {
    height: 500px;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
  }
  
  #pa {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    /* color: hsl(149, 93%, 50%); */
    color: hsl(146, 19%, 93%);
  }
  


  .home {
    background-image:url('chicken.jpg');
     background-size: cover; 
    
     background-position: center; 
 }
 #kfc{
color: red ;
 font-size: 100px;


 }
